.generate-form-container{
    position: absolute;
    height: 0%;
    width: 50%;
    transition: 0.5s;
    background-color: white;
}

.form-container{
    position: relative;
    height: fit-content;
    width: fit-content;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.input-name{
    width: 100%;
}

.form-input{
    border: 0;
    border-bottom: 2px solid rgb(101, 153, 153);
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: 0.5s;
    text-align: center;
}

.form-input:focus {
    border-color:rgb(244, 121, 31);
}

.btn-generateqr{
    position: relative;
    margin-top: 20px;
    
}

.btn-generateqr{
    transition: 0.5s;
}

.qrcode-generated{
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-192px,-192px);
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
    max-width: fit-content;
}

.label-generate{
    text-align: center;
}