.register-page{
    position: relative;
    height: 80%;
    width: 100%;
}

.register-container{
    position: relative;
    font-size: larger;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #7e8ba3;
    background-color: #354152;
    box-shadow: 0 0 250px #000;
    width: fit-content;
    left: 50%;
    padding: 30px;
}

input{
    border: 1px solid #242c37;
    border-radius: 999px;
    background-color: transparent;
}

.btn-submit, .btn-success{
    background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
    color: #fff;
    width: 100%;
    border: 1px solid #242c37;
    border-radius: 999px;
    text-decoration: none;
}

.btn-success:hover{
    text-decoration: none;
}